$teal: #748680;

.background{

  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.logo{
mix-blend-mode: screen;
}

main{
  background-color: white;
}

h1{
  margin-top: 25px;
}

.subnav{
  height: 100px;
  li{
    float: left;
    list-style: none;
    text-align: center;
    width: 14.25%;


  }
  a{
    position: relative;
    width: 100%;
    height: 45px;
    float: left;
    margin-top: 25px;
    color: grey;

  img{
    position: absolute;
    width: 45px;
    height: auto;
  }
  p{
    display: none;
  }
}
}

.photo-column-1, .photo-column-2, .photo-column-3{
  padding: 5px;
  a{
    padding: 5px;
  }
}

.container-mixitup .containMix .mix {
  display: none; }

.hover{
  opacity: 0;
  transition: .15s;
}

.hover-2{
  opacity: 0;
  transition-delay: .15s;
}

.hover:hover{
  opacity: 1;
}

.tea:hover{
  .hover{
    opacity: 1;
  }
  .hover-2{
    opacity: 1;
    transition-delay: .17s;
  }
}

.lil:hover{
  .hover{
    opacity: 1;
  }
  .hover-2{
    opacity: 1;
    transition-delay: .17s;
  }
}

/* SERVICES ------------------------ */
.services{
  ul{
    list-style: none;
  }
}

.service-item{
  border-top: 1px solid grey;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

.service-icon-container{
  padding-left: 0;
}

.service-icon-1{
position: absolute;
width: 100%;
transition: .15s;
}

.service-item:hover{
  .service-icon-2{
opacity: 1;
  }
  .service-icon-3{
    opacity: 1;
  }
}

.service-icon-2{
  opacity: 0;
  width: 100%;
  transition: .15s;
  position: absolute;
}

.service-icon-3{
  opacity: 0;
  width: 100%;
  transition: .15s;
  transition-delay: .15s;
  position: absolute;
}

/* CONTACT ------------------------ */
.contact{

}

form{
  input{
    border: 1px solid lightgrey;
    border-radius: 0;
    margin-top: 20px;
  }
  textarea{
    border: 1px solid lightgrey;
    border-radius: 0;
    margin-top: 20px;
  }
  button{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: $teal;
    color: white;
    height: 40px;
  }
}

@media (min-width: 768px ){
  .background{
    position: fixed;
  }
  .subnav{
    a{
      text-align: center!important;

    p{
      display: block!important;
      margin-top: 50px;
      text-align: center!important;
    }
  }
  img{
    left: 0;
    right: 0;
    margin: auto;
  }
  }

  .lightgrey{
    background-color: #f1f1f1;
  }

  .service-item{
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}


@media (min-width: 1200px ){

  .container-fluid{
      padding: 10px!important;
  }

nav{
  width: 100%!important;
  margin-bottom: 15px;
  .nav-link{
    margin-top: 40px!important;
  }
  a{
      width: 24%;
      text-align: center;
      img{
        width: 50%!important;
        margin-left: 25%!important;
        margin-right: 25%!important;
      }
  }

  }


}
