.background{

  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.logo{
mix-blend-mode: screen;
}

main{
  background-color: white;
}

.subnav{
  li{
    float: left;
    list-style: none;
    text-align: center;
    width: 14.25%;


  }
  a{
    position: relative;

    height: 45px;
    float: left;
    margin-top: 25px;

  img{
    position: absolute;
    width: 45px;
    height: auto;
  }
  p{
    display: none;
  }
}
}

.photo-column-1, .photo-column-2, .photo-column-3{
  padding: 5px;
  a{
    padding: 5px;
  }
}

.container-mixitup .containMix .mix {
  display: none; }

.hover{
  opacity: 0;
  transition: .15s;
}

.hover-2{
  opacity: 0;
  transition-delay: .15s;
}

.hover:hover{
  opacity: 1;
}

.tea:hover{
  .hover{
    opacity: 1;
  }
  .hover-2{
    opacity: 1;
    transition-delay: .17s;
  }
}

.lil:hover{
  .hover{
    opacity: 1;
  }
  .hover-2{
    opacity: 1;
    transition-delay: .17s;
  }
}

/* SERVICES ------------------------ */
.services{
  ul{
    list-style: none;
  }
}

.service-item{
  border-top: 1px solid grey;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

.service-icon-container{
  padding-left: 0;
}

.service-icon-1{
position: absolute;
width: 100%;
transition: .15s;
}

.service-item:hover{
  .service-icon-2{
opacity: 1;
  }
  .service-icon-3{
    opacity: 1;
  }
}

.service-icon-2{
  opacity: 0;
  width: 100%;
  transition: .15s;
  position: absolute;
}

.service-icon-3{
  opacity: 0;
  width: 100%;
  transition: .15s;
  transition-delay: .15s;
  position: absolute;
}


@media (min-width: 767.98px ){
  .background{
    position: fixed;
  }
}
